/*Some necessary adjustments*/
h1,
body,
html,
main {
  margin: 0;
}

/*Import the font and set the default size*/
html {
  font-family: 'Open Sans', sans-serif;
  font-size: 18px
}

/*  Set the font */
body {
  margin: 0;
  padding: 0;
}

.text-center {
  text-align: center;
}

/* Imagen Principal */

.hero {
  position: relative;
  background-image: url(../images/soup.jpg);
  width: 100%;
  height: 600px;
  opacity: .88;
  background-repeat: round;
}

.hero h2 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 50px;
  color: #fff;
}

/* Info */

.info {
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 50px;
  padding-right: 50px;
}

/* Ingredients */

.ingredients {
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 50px;
  padding-right: 50px;
}

/* Directions */

.directions {
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 50px;
  padding-right: 50px;
}